* {
  box-sizing: border-box;
}

.noselect, bl, .popout {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h {
  display: none;
}

a0 {
  opacity: 0;
}

a {
  color: #50D8BB;
  text-decoration: none;
}

/*Search Menu and Info*/

.search {
  position: fixed;
  top: 8px;
  width: 500px;
  max-width: 80%;
  height: 50%;
  right: 8px;
  overflow: auto;
}

.search::-webkit-scrollbar {
display: none;
}

#blockSearchBox {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 500px;
  max-width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
  position: fixed;
  z-index: 10;
  transition: 
	border 0.5s ease,
	background-color 0.5s ease;
}

.searchItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.searchItems li {
  display: block;
  background-color: white;
}

.searchItems li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: white;
  display: block;
  background-color: #bbb;
}

.searchItems li a:hover:not(.header) {
  opacity: 0.8;
}

.searchItems moveblocks li a, bl[type=move] {
  background-color: #d73e1e;
}

.searchItems lookblocks li a, bl[type=looks] {
  background-color: #63ae1e;
}

.searchItems drawblocks li a, bl[type=draw] {
  background-color: #a6006e;
}

.searchItems varblocks li a, bl[type=var] {
  background-color: #e7b601;
}

.searchItems ctrlblocks li a, bl[type=ctrl] {
  background-color: #3e83be;
}

.searchItems oldblocks li a, bl[type=old] {
  background-color: #647f96;
}

bl {
  margin-top: 20px;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: inline-block;
  background-color: #bbb;
  border-radius: 10px;
  font-weight: normal;
  letter-spacing: 0.3px;
}

.ps {
  background: white;
  margin: -10px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 20px;
  min-width: 50px;
  height: 30px;
  display: inline-block;
  color: black;
  text-align: center;
  line-height: 28px;
  padding: 0px 6px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
}

.info {
  position: relative;
  top: -16px;
}

.info p, .info b, .info li {
  margin-left: 4px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

/*Popouts*/

.popout {
	position: fixed;
	bottom: 0px;
	right: -120px;
	width: 120px;
	height: 80px;
	transition: 0.5s;
	z-index: 15;
}

.popout .popout-content {
	position: absolute;
	transition: background-color 0.5s ease;
	transition: background-image 0.5s ease;
}

.popout .arrow {
	background-image: 
		linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color: white;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 20px;
	line-height: 2px;
}

.popout.dark .arrow {
	background-image: 
		linear-gradient(180deg, rgba(120,120,120,0) 0%, rgba(120,120,120,0) 50%, rgba(120,120,120,0.7) 100%);
}

.popout-content.c2{
	bottom: 0px;
	right: 0px;
	display: flex;
	flex-direction: rows;
	text-align: center;
	align-content: space-around;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.7);
	padding: 2px;
}

.popout.dark .popout-content.c2{
	background-color: rgba(120,120,120,0.7);
}

.popout-content.c2 img {
	border-radius: 10px;
	margin: 2px;
}

.popout-content.c3 {
	background-image: 
		linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%);
	display: block;
	left: -20px;
	top: 20px;
	width: 20px;
	height: 100%;
}

.popout.dark .popout-content.c3 {
	background-image: 
		linear-gradient(90deg, rgba(120,120,120,0) 0%, rgba(120,120,120,0) 50%, rgba(120,120,120,0.7) 100%);
}

.popout-content.c4 {
	background-image:
		radial-gradient(farthest-corner at 20px 20px, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%);
	display: block;
	left: -20px;
	top: 0px;
	width: 20px;
	height: 20px;
}

.popout.dark .popout-content.c4 {
	background-image:
		radial-gradient(farthest-corner at 20px 20px, rgba(120,120,120,0.7) 0%, rgba(120,120,120,0) 35%, rgba(120,120,120,0) 100%);
}

/*Flex Boxes (for Images)*/

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	max-width: 100%;
	margin-bottom: -5px;
	position: relative;
}

.flex[reverse] {
	flex-wrap: wrap-reverse;
}

.belowFlex {
	margin-left: 20px;
	margin-top: 0px;
	text-align: justify;
}

.flex img {
	max-width: 100%;
	padding: 10px 0px 0px 0px;
	min-width: 30%;
}

.cover {
	margin: 10px 0px;
	pointer-events: none;
}

.flex p {
	padding: 10px 0px 10px 20px;
	text-align: justify;
}

.flex[reverse] p {
	padding: 10px 20px 10px 20px;
	text-align: justify;

}

.flex span {
	text-align: center;
	pointer-events: none;
}

@media only all and (min-width: 640px){
	.flex[r='640'] { justify-content: flex-end; }
	.flex[r='640'] p { width: calc(100% - 375px); }
	.belowFlex[r='640'] { margin-left: 0px; }
}

@media only all and (min-width: 760px){
	.flex[r='760'] { justify-content: flex-end; }
	.flex[r='760'] p { width: calc(100% - 375px); }
	.flex[r='760'][reverse] p { padding-left: 0px; }
}
