:root {
	--col-bg-main: #F8F8F8; /* #F8F8F8 black */
	--col-bg-toolbar: white; /* white #222 */
	--col-low-border: 1px solid #ddd; /* #ddd #666 */
	--col-label-text: black; /* black #ccc */
	--img-opacity: 1; /* 0.4 1 */
	--transition-time: 0s;
	--x-ray-show: ignore;
	--x-ray-opacity: ignore;
	--x-ray-zoom: 1;
	--x-ray-elms: none;
	--tab-outline-style: none;
}

html, body {
	background-color: var(--col-bg-main);
	height: calc(100% - 8px);
	transition: background-color var(--transition-time);
}

/* latin-ext */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=ijwUs5PnXdA4ZZUA6Zd-&skey=8887f17a62203d44&v=v3) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=ijwUs5PnXdA4ZZUA55d-&skey=8887f17a62203d44&v=v3) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* UI Elements */

.uiBtn {
	position: fixed;
	bottom: 8px;
	left: 8px;
	font-size: 14px;
	cursor: pointer;
	background-color: #0d6f62;
	color: white;
	padding: 4px 6px;
	margin: 6px;
	border: none;
	outline: none;
	z-index: 10;
	transition: opacity 0.2s;
}
.uiBtn:hover {
	opacity: 0.7;
}

#loadingBear {
	width: 120px;
	height: 120px;
	text-align: center;
	position: fixed;
	left: calc(50% - 60px);
	top: calc(50% - 60px);
}
sq {
	display:block;
	transition: 0.5s;
	position: fixed;
	bottom: 4px; right: 4px;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	padding:8px;
	border-radius: 8px;
}

.topnav::-webkit-scrollbar {
	height: 0px;
}
.topnav span {
	outline: none;
}
.topnav span:focus button {
	color: #50D8BB;
}
.topnav button {
	background-color: rgba(0,0,0,0);
	display: inline-block;
	height: 44px;
	font-family: Avenir;
	font-weight: 600;
	font-size: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #aaa;
	border-bottom: 4px solid rgba(0,0,0,0);
}
.topnav button:hover {
	opacity: 0.6;
}
.topnav button.selected {
	border-bottom: 4px solid #0b8e7d;
	color: #0b8e7d;
}

.topSticky {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--col-bg-toolbar);
	z-index: 15;
	border-bottom: var(--col-low-border);
	color: var(--col-label-text);
	transition: color var(--transition-time), background-color var(--transition-time), border-bottom var(--transition-time);
}
.topSticky h1 {
	display: block;
	text-align: center;
	font-family: Avenir;
	margin: auto;
	padding: 8px;
}
.topSticky a {
	position: absolute;
	text-align: center;
	font-family: Avenir;
	margin: auto;
	padding: 14px;
	font-size: 24px;
	background-color: var(--col-bg-toolbar);
	color: #999;
	height: 100%;
	transition: background-color var(--transition-time);
}
@media only screen and (min-width: 512px) {
	.topSticky a::after {
		content: " Back";
	}
}
.back {
	cursor: pointer;
}

/* Project Cards */

.flex {
	display: flex;
	justify-content: space-evenly;
	max-width: 100%;
	flex-wrap: wrap;
	align-content: space-around;
	zoom: var(--x-ray-zoom);
}
.flex .project-card {
	background-color: var(--col-bg-toolbar);
	width: 300px;
	height: 375px;
	margin: 16px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	color: var(--col-label-text);
	transition: color var(--transition-time), background-color var(--transition-time);
	outline: none;
	border: 0px solid white;
}
.project-card a.thumbnail {
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: var(--img-opacity);
	transition: opacity var(--transition-time);
}
.project-card *:focus {
	outline: var(--tab-outline-style);
}
.project-card a.thumbnail img {
	/* CURRENTLY UNUSED
	width: 512px;
	height: 300px;
	padding: 0;
	display:none; /**/
}

.remixbar:before {
	content: url('../images/remix-icon.png');
	width: 20px;
	height: 20px;
	position: relative;
	top: -1px;
	left: -3px;
}
.remixbar {
	position: absolute;
	padding: 6px 4px 4px 7px;
	top: 8px;
	right: 8px;
	display: inline-flex;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	height: 24px;
	align-items: center;
	font-family: Avenir;
	background-color: #ddd;
	color: #666;
	border-radius: 2px;
	opacity: 0.7;
	z-index: 2;
}
.sharelinkbtn {
	display: flex;
	width: 60px;
	height: 75px;
	margin: 0;
	font-size: 36px;
	justify-content: center;
	align-items: center;
	color: gray;
	z-index: 1;
	position: relative;
}
.info {
	display: block;
	width: 300px;
	height: 75px;
	margin: 0;
	position: absolute;
	top: 300px;
	right: 0px;
}
.info name {
	display: block;
	margin: 4px 12px;
	text-align: right;
	font-size: 18px;
	font-family: Avenir;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 0;
	width: 216px;
}
.info a.user {
	font-size: 14px;
	font-family: Avenir;
	text-align: right;
	display: block;
	margin: 6px 12px 2px;
	width: 216px;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: -2px;
	right: 0;
	line-height: 18px;
	color: var(--col-label-text);
	transition: color var(--transition-time);
}
.info a.user:hover {
	opacity: 0.7;
}
.info stats {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 4px;
	right: 8px;
	width: 100%;
	color: gray;
	font-family: Arial;
	font-size: 13px;
}
.info stats span {
	margin: 4px;
}

.fa-link {
	cursor: pointer;
}
.fa-link:hover {
	opacity: 0.7;
}
.fa-link:active {
	opacity: 0.5;
}

/* User Cards */

.user-card {
	display: flex;
	position: relative;
	background-color: var(--col-bg-toolbar);
	width: 320px;
	height: 64px;
	margin: 8px;
	padding: 8px;
	border-radius: 16px;
	border: 0px solid white;
	opacity: 1;
	transition: opacity 0.5s, background-color var(--transition-time), color var(--transition-time), border 0.25s, padding 0.25s;
}
.user-card:hover {
	padding: 6px;
	border: 2px solid #50D8BB;
}
.user-card span.img-container {
	display: inline-block;
	position: relative;
	width: 48px;
	height: 48px;
	padding: 0;
	flex-shrink: 0;
	pointer-events: all;
}
.user-card img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
}
.user-card name {
	font-size: 16px;
	color: var(--col-label-text);
	font-family: Avenir;
	display: inline-flex;
	height: 100%;
	align-items: center;
	padding: 12px;
}

/* Search Controls */

.proj-search-div {
	background-color: var(--col-bg-toolbar);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 46px;
	height: 51px;
	z-index: 12;
	border-bottom: var(--col-low-border);
	transition: border-bottom var(--transition-time), background-color var(--transition-time);
}
.proj-search-div .fa {
	background-color: rgba(0,0,0,0);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 51px;
	font-weight: 200;
	font-size: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #aaa;
	border-bottom: 4px solid rgba(0,0,0,0);
}
.proj-search-div .fa-search:hover {
	opacity: 0.7;
}
.proj-search-div > span:focus i {
	color: #50D8BB;
}
.proj-search-div span {
	outline: none;
}

.search-bar {
	overflow: hidden;
	display: block;
	position: fixed;
	z-index: 11;
	width: calc(100% - 46px);
	height: 50px;
	top: -51px;
	left: 46px;
	padding: 4px 6px 6px 0;
	background-color: var(--col-bg-toolbar);
	/*border-bottom: var(--col-low-border);*/
	transition: border-bottom var(--transition-time), background-color var(--transition-time), top 0.5s;
}
.search-bar input {
	display: inline-block;
	background-color: #444;
	opacity: 0.8;
	color: #ddd;
	width: calc(100% - 64px);
	top: -51px;
	left: 51px;
	font-size: 16px;
	padding: 8px 8px 6px 14px;
	border-radius: 25px;
	outline: none;
	border: 1px solid gray;
	font-family: Avenir;
}
.search-bar input::-webkit-search-cancel-button {
	position: relative;
	top: -1px;
	left: 2px;
	color: #ddd;
	webkit-appearance: none;
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	content: test;
	background: url('../images/search-x.png');
	display: block;
}
.search-bar span, .search-bar button {
	display: inline-block;
	padding: 0;
	background-color: rgba(0,0,0,0);
	color: #aaa;
	width: 28px;
	height: 32px;
	font-size: 18px;
	outline: none;
	border: none;
	cursor: pointer;
	position: relative;
	top: 1px;
}
.search-bar span {
	margin: 4px auto;
}
.search-bar button:hover {
	opacity: 0.7;
}
.search-bar span:focus button {
	outline: 2px solid #50D8BB;
}
.search-bar button.selected {
	color: #0b8e7d;
}

/* X-Ray */

*[data-show=false] {
	display: var(--x-ray-show);
	opacity: var(--x-ray-opacity);
}

.xray-contents {
	display: var(--x-ray-elms);
	position: fixed;
	padding: 2px;
	bottom: 36px;
	left: 6px;
	width: 26px;
	background-color: #0d6f62;
	z-index: 3;
	box-sizing: initial;
}
.xray-contents input[orient=vertical] {
	width: 22px;
	height: 128px;
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical;
	outline: none;
}
.xray-contents span {
	text-align: center;
	color: white;
	font-family: Helvetica;
	display: block;
	margin: auto;
	font-size: 14px;
}

.xSelected {
	box-shadow: #0d6f62 0 0 4px 4px;
}
