:root {
	--col-bg-main: #F8F8F8; /* #F8F8F8 black */
	--col-bg-toolbar: white; /* white #222 */
	--col-low-border: 1px solid #ddd; /* #ddd #666 */
	--col-label-text: black; /* black #ccc */
	--img-opacity: 1; /* 0.4 1 */
	--transition-time: 0s;
	--x-ray-show: ignore;
	--x-ray-opacity: ignore;
	--x-ray-zoom: 1;
	--x-ray-elms: none;
}

html, body {
	background-color: var(--col-bg-main);
	height: calc(100% - 8px);
	transition: background-color var(--transition-time);
}

/* UI Elements */

.uiBtn {
	position: fixed;
	bottom: 8px;
	left: 8px;
	font-size: 14px;
	cursor: pointer;
	background-color: #0d6f62;
	color: white;
	padding: 4px 6px;
	margin: 6px;
	border: none;
	outline: none;
	z-index: 10;
	transition: opacity 0.2s;
}
.uiBtn:hover {
	opacity: 0.7;
}

#loadingBear {
	width: 80px;
	height: 80px;
	text-align: center;
	position: fixed;
	left: calc(50% - 40px);
	top: calc(50% - 40px);
}
sq {
	display:block;
	transition: 0.5s;
	position: fixed;
	bottom: 4px; right: 4px;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	padding:8px;
	border-radius: 8px;
}

.topnav::-webkit-scrollbar {
	height: 0px;
}
.topnav button {
	background-color: rgba(0,0,0,0);
	display: inline-block;
	height: 44px;
	font-family: Avenir;
	font-weight: 600;
	font-size: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #aaa;
	border-bottom: 4px solid rgba(0,0,0,0);
}
.topnav button:hover {
	opacity: 0.6;
}
.topnav button.selected {
	border-bottom: 4px solid #0b8e7d;
	color: #0b8e7d;
}

.topSticky {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--col-bg-toolbar);
	z-index: 15;
	border-bottom: var(--col-low-border);
	color: var(--col-label-text);
	transition: color var(--transition-time), background-color var(--transition-time), border-bottom var(--transition-time);
}
.topSticky h1 {
	display: block;
	text-align: center;
	font-family: Avenir;
	margin: auto;
	padding: 8px;
}
.topSticky a {
	position: absolute;
	text-align: center;
	font-family: Avenir;
	margin: auto;
	padding: 14px;
	font-size: 24px;
	background-color: var(--col-bg-toolbar);
	color: #999;
	height: 100%;
	transition: background-color var(--transition-time);
}
@media only screen and (min-width: 512px) {
	.topSticky a::after {
		content: " Back";
	}
}
.back {
	cursor: pointer;
}

/* Project Cards */

.flex {
	display: flex;
	justify-content: space-evenly;
	max-width: 100%;
	flex-wrap: wrap;
	align-content: space-around;
	zoom: var(--x-ray-zoom);
}
.flex .project-card {
	background-color: var(--col-bg-toolbar);
	width: 300px;
	height: 375px;
	margin: 16px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	color: var(--col-label-text);
	transition: color var(--transition-time), background-color var(--transition-time);
}
.project-card a.thumbnail {
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: var(--img-opacity);
	transition: opacity var(--transition-time);
}
.project-card a.thumbnail img {
	/* CURRENTLY UNUSED
	width: 512px;
	height: 300px;
	padding: 0;
	display:none; /**/
}

.remixbar:before {
	content: url('../images/remix-icon.png');
	width: 20px;
	height: 20px;
	position: relative;
	top: -1px;
	left: -3px;
}
.remixbar {
	position: absolute;
	padding: 6px 4px 4px 7px;
	top: 8px;
	right: 8px;
	display: inline-flex;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	height: 24px;
	align-items: center;
	font-family: Avenir;
	background-color: #ddd;
	color: #666;
	border-radius: 2px;
	opacity: 0.7;
	z-index: 2;
}
.sharelinkbtn {
	display: flex;
	width: 60px;
	height: 75px;
	margin: 0;
	font-size: 36px;
	justify-content: center;
	align-items: center;
	color: gray;
}
.info {
	display: block;
	width: 240px;
	height: 75px;
	margin: 0;
	position: absolute;
	top: 300px;
	right: 0px;
}
.info name {
	display: block;
	margin: 4px 12px;
	text-align: right;
	font-size: 18px;
	font-family: Avenir;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	top: -4px;
}
.info a.user {
	font-size: 14px;
	font-family: Avenir;
	text-align: right;
	display: block;
	margin: 6px 12px 2px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	top: -2px;
	line-height: 18px;
	color: var(--col-label-text);
	transition: color var(--transition-time);
}
.info a.user:hover {
	opacity: 0.7;
}
.info stats {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 4px;
	right: 8px;
	width: 100%;
	color: gray;
	font-family: Arial;
	font-size: 13px;
}
.info stats span {
	margin: 4px;
}

.fa-link {
	cursor: pointer;
}
.fa-link:hover {
	opacity: 0.7;
}
.fa-link:active {
	opacity: 0.5;
}

/* X-Ray */

*[data-show=false] {
	display: var(--x-ray-show);
	opacity: var(--x-ray-opacity);
}

.xray-contents {
	display: var(--x-ray-elms);
	position: fixed;
	padding: 2px;
	bottom: 36px;
	left: 6px;
	width: 26px;
	background-color: #0d6f62;
	z-index: 3;
	box-sizing: initial;
}
.xray-contents input[orient=vertical] {
	width: 22px;
	height: 128px;
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical;
	outline: none;
}
.xray-contents span {
	text-align: center;
	color: white;
	font-family: Helvetica;
	display: block;
	margin: auto;
	font-size: 14px;
}
