:root {
	--col-bg-main: #F8F8F8; /* #F8F8F8 black */
	--col-bg-toolbar: white; /* white #222 */
	--col-low-border: 1px solid #ddd; /* #ddd #666 */
	--col-label-text: black; /* black #ccc */
	--img-opacity: 1; /* 0.4 1 */
	--transition-time: 0s;
	--x-ray-show: ignore;
	--x-ray-opacity: ignore;
	--x-ray-zoom: 1;
	--x-ray-elms: none;
	--tab-outline-style: none;
}

html, body {
	background-color: var(--col-bg-main);
	height: calc(100% - 8px);
	transition: background-color var(--transition-time);
}

/* latin-ext */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=ijwUs5PnXdA4ZZUA6Zd-&skey=8887f17a62203d44&v=v3) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Pro 45 Book'), local('AvenirLTPro-Book'), url(https://fonts.gstatic.com/l/font?kit=ijwUs5PnXdA4ZZUA55d-&skey=8887f17a62203d44&v=v3) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* UI Elements */

.uiBtn {
	position: fixed;
	bottom: 8px;
	left: 8px;
	font-size: 14px;
	cursor: pointer;
	background-color: #0d6f62;
	color: white;
	padding: 4px 6px;
	margin: 6px;
	border: none;
	outline: none;
	z-index: 10;
	transition: opacity 0.2s;
}
.uiBtn:hover {
	opacity: 0.7;
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 128px; /* Specific width is required for Firefox. */
	height: 22px; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}
input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid gray; /* #000000; */
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background-color: lightgray;
	cursor: pointer;
	transform: translate(0, 12px);
	display:block;
	margin-top: -16px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	/* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; Add cool effects to your sliders! */
}
input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background-color: #ffffff;
	cursor: pointer;
	transform: translate(4px,0);
	margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
	
}
input[type=range]::-webkit-slider-runnable-track {
	width: 128px; /* 100%; */
	height: 8.4px;
	cursor: pointer;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 0px 1px gray inset, 0 0 1px 1px gray inset;
	width: 128px;
	height: 8px;
	border-radius: 4px;
	outline: none;
	-webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
   background-color: white;
}
input[type=range]:active::-webkit-slider-runnable-track {
   background-color: #eee;
}
input[type=range]::-moz-range-track {
	width: 8px; /* 100%; */
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000 inset, 0px 0px 1px #0d0d0d inset;
	background-color: white;/*#3071a9;*/
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
::-webkit-scrollbar {
	width: 14px;
	z-index:1001;
}
::-webkit-scrollbar-track {
	background-color: #eee;
	border-radius: 0;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(100,100,100,0.8); /*#e6d700;*/
	border-radius: 10px;
	opacity: 0.75;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(100,100,100,0.7); /*#e6cf00;*/
	opacity:1;
}
::-webkit-scrollbar-corner {
  background-color: #eee;
}

#loadingBear {
	width: 120px;
	height: 120px;
	text-align: center;
	position: fixed;
	left: calc(50% - 60px);
	top: calc(50% - 60px);
}
sq {
	display:block;
	transition: 0.5s;
	position: fixed;
	bottom: 4px; right: 4px;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	padding:8px;
	border-radius: 8px;
}

.topnav::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.topnav span {
	outline: none;
}
.topnav span:focus button, .retro .topnav span:focus button {
	color: #50D8BB;
}
.topnav button {
	background-color: rgba(0,0,0,0);
	display: inline-block;
	height: 44px;
	font-family: Avenir;
	font-weight: 600;
	font-size: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #aaa;
	border-bottom: 4px solid rgba(0,0,0,0);
}
.topnav button:hover {
	opacity: 0.6;
}
.topnav button.selected {
	border-bottom: 4px solid #0b8e7d;
	color: #0b8e7d;
}

.topSticky {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--col-bg-toolbar);
	z-index: 15;
	border-bottom: var(--col-low-border);
	color: var(--col-label-text);
	transition: color var(--transition-time), background-color var(--transition-time), border-bottom var(--transition-time);
}
.topSticky h1 {
	display: block;
	text-align: center;
	font-family: Avenir;
	margin: auto;
	padding: 8px;
}
.topSticky a {
	position: absolute;
	text-align: center;
	font-family: Avenir;
	margin: auto;
	padding: 14px;
	font-size: 24px;
	background-color: var(--col-bg-toolbar);
	color: #999;
	height: 100%;
	transition: background-color var(--transition-time);
}
@media only screen and (min-width: 512px) {
	.topSticky a::after {
		content: " Back";
	}
}
.back {
	cursor: pointer;
}

/* Project Cards */

.flex {
	display: flex;
	justify-content: space-evenly;
	max-width: 100%;
	flex-wrap: wrap;
	align-content: space-around;
	zoom: var(--x-ray-zoom);
}
.flex .project-card {
	background-color: var(--col-bg-toolbar);
	width: 300px;
	height: 400px;
	margin: 16px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	color: var(--col-label-text);
	transition: color var(--transition-time), background-color var(--transition-time);
	outline: none;
	border: 0px solid white;
}
.project-card a.thumbnail {
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: var(--img-opacity);
	transition: opacity var(--transition-time);
}
.project-card *:focus {
	outline: var(--tab-outline-style);
}
.project-card a.thumbnail img {
	/* CURRENTLY UNUSED
	width: 512px;
	height: 300px;
	padding: 0;
	display:none; /**/
}
.project-card a[disabled] {
	cursor: default;
	color: gray;
	display: inline-flex;
}

.remixbar:before {
	/* content: url('../images/remix-icon.png'); */
	width: 20px;
	height: 20px;
	position: relative;
	top: -1px;
	left: -3px;
}
.remixbar {
	position: absolute;
	padding: 4px 6px/* 6px 4px 4px 7px */;
	top: 8px;
	right: 8px;
	display: inline-flex;
	align-items: center;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	height: 25px;
	font-family: Avenir;
	background-color: #ddd;
	color: #666;
	border-radius: 2px;
	opacity: 0.7;
	z-index: 2;
}
.remixbar .fa-clock-o {
	top: -0.5px;
	margin-right: 4px;
	position: relative;
}
.remixbar .fa-random {
	margin-right: 3px;
}
a.remixbar[onclick*="draft"] {
	display: none;
}
.xray a.remixbar[onclick*="draft"] {
	display: inline-flex;
}
.sharelinkbtn {
	display: flex;
	flex-direction: column;
	width: 60px;
	height: 100px;
	margin: 0;
	font-size: 36px;
	justify-content: center;
	align-items: center;
	color: gray;
	z-index: 1;
	position: relative;
}
.sharelinkbtn > i {
	margin: 8px;
}
.info {
	display: block;
	width: 300px;
	height: 100px;
	margin: 0;
	position: absolute;
	top: 300px;
	right: 0px;
}
.info name {
	display: block;
	margin: 4px 12px;
	text-align: right;
	font-size: 18px;
	font-family: Avenir;
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 0;
	width: 216px;
	height: 45px;
	word-wrap: break-word;
	hyphens: auto;
	line-height: 23px;
}
.info name.short {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.info name.truncate:after {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 1em;
	height: 1.2em;
	background-color: var(--col-bg-toolbar);
}
.info .user-container {
	display: block;
	margin: 6px 12px 2px;
	width: 216px;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	top: -2px;
	right: 0;
	font-size: 16px;
	font-family: Avenir;
	text-align: right;
	text-overflow: ellipsis;
	background-size: 0 0;
}
.info .user {
	line-height: 20px;
	color: var(--col-label-text);
	transition: color var(--transition-time);
	
}
.info .user:hover {
	opacity: 0.7;
}
.info stats {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 4px;
	right: 8px;
	width: 100%;
	color: gray;
	font-family: Arial;
	font-size: 12px;
}
.info stats span {
	margin: 4px;
}

.fa-link, .report-icon {
	cursor: pointer;
}
.fa-link:hover, .report-icon:hover {
	opacity: 0.7;
}
.fa-link:active, .report-icon:active {
	opacity: 0.5;
}
.report-icon {
	margin: 0.25rem;
	color: #777;
	opacity: 0.2;
}
.retro .report-icon {
	color: #ababab;
}

/* User Cards */

.user-card {
	display: flex;
	position: relative;
	background-color: var(--col-bg-toolbar);
	width: 320px;
	height: 64px;
	margin: 8px;
	padding: 8px;
	border-radius: 16px;
	border: 0px solid white;
	opacity: 1;
	transition: opacity 0.5s, background-color var(--transition-time), color var(--transition-time), border 0.25s, padding 0.25s;
}
.user-card:hover {
	padding: 6px;
	border: 2px solid #50D8BB;
}
.user-card span.img-container {
	display: inline-block;
	position: relative;
	width: 48px;
	height: 48px;
	padding: 0;
	flex-shrink: 0;
	pointer-events: all;
}
.user-card img {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
}
.user-card name {
	font-size: 16px;
	color: var(--col-label-text);
	font-family: Avenir;
	display: inline-flex;
	height: 100%;
	align-items: center;
	padding: 12px;
	transition: color var(--transition-time);
}

/* Search Controls */

.proj-search-div {
	background-color: var(--col-bg-toolbar);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 46px;
	height: 51px;
	z-index: 12;
	border-bottom: var(--col-low-border);
	transition: border-bottom var(--transition-time), background-color var(--transition-time);
}
.proj-search-div .fa {
	background-color: rgba(0,0,0,0);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 51px;
	font-weight: 200;
	font-size: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #aaa;
	border-bottom: 4px solid rgba(0,0,0,0);
}
.proj-search-div .fa-search:hover {
	opacity: 0.7;
}
.proj-search-div > span:focus i {
	color: #50D8BB;
}
.proj-search-div span {
	outline: none;
}

.search-bar {
	overflow: hidden;
	display: block;
	position: fixed;
	z-index: 11;
	width: calc(100% - 46px);
	height: 50px;
	top: -51px;
	left: 46px;
	padding: 4px 6px 6px 0;
	background-color: var(--col-bg-toolbar);
	/*border-bottom: var(--col-low-border);*/
	transition: border-bottom var(--transition-time), background-color var(--transition-time), top 0.5s;
}
.search-bar input {
	display: inline-block;
	background-color: #444;
	opacity: 0.8;
	color: #ddd;
	width: calc(100% - 64px);
	top: -51px;
	left: 51px;
	font-size: 16px;
	padding: 8px 8px 6px 14px;
	border-radius: 25px;
	outline: none;
	border: 1px solid gray;
	font-family: Avenir;
}
.search-bar input::-webkit-search-cancel-button {
	position: relative;
	top: -1px;
	left: 2px;
	color: #ddd;
	webkit-appearance: none;
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	content: test;
	background: url('../images/search-x.png');
	display: block;
}
.search-bar span, .search-bar button {
	display: inline-block;
	padding: 0;
	background-color: rgba(0,0,0,0);
	color: #aaa;
	width: 28px;
	height: 32px;
	font-size: 18px;
	outline: none;
	border: none;
	cursor: pointer;
	position: relative;
	top: 1px;
}
.search-bar span {
	margin: 4px auto;
}
.search-bar button:hover {
	opacity: 0.7;
}
.search-bar span:focus button {
	outline: 2px solid #50D8BB;
}
.search-bar button.selected {
	color: #0b8e7d;
}

body .flex div.project-card.id-result, body .flex a.user-card.id-result {
	background-color: #add8e64f;
}

/* X-Ray */

*[data-show=false] {
	display: var(--x-ray-show);
	opacity: var(--x-ray-opacity);
}

div.xray-contents {
	height: 150px;
	user-select: none;
}
.xray-contents {
	display: var(--x-ray-elms);
	position: fixed;
	padding: 2px;
	bottom: 36px;
	left: 6px;
	width: 26px;
	background-color: #0d6f62;
	z-index: 12;
	box-sizing: initial;
}
.xray-contents input[orient=vertical] {
	/* width: 22px;
	height: 128px; */
	writing-mode: bt-lr; /* IE */
	/* -webkit-appearance: slider-vertical; */
	outline: none;
	transform: rotate(-90deg) translate(calc(50% - 9px),-51px);
	position: absolute;
	bottom: 4px;
	left: 2px;
}
.xray-contents span {
	text-align: center;
	color: white;
	font-family: Helvetica;
	display: block;
	margin: auto;
	font-size: 14px;
}

.xSelected {
	box-shadow: #0d6f62 0 0 4px 4px;
}
.xray .report-project-div {
	display: block;
}

/* AE Badges */

.info ae[badge] {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 14px;
	background-repeat: no-repeat; 
	background-size: 16px 16px;
	vertical-align:text-bottom;
	flex-shrink: 0;
}
div > ae[badge], table ae[badge] {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 12px;
	background-repeat: no-repeat; 
	background-size: 48px 48px;
	vertical-align:text-bottom;
	margin: 4px;
}
ae[badge='1'] {
	background-image: url('../images/web-badges/tht.png');
}
ae[badge='2'] {
	background-image: url('../images/web-badges/robo.png');
}
ae[badge='3'] {
	background-image: url('../images/web-badges/epoints.png');
}
ae[badge='4'] {
	background-image: url('../images/web-badges/contributor.png');
}
ae[badge='5'] {
	background-image: url('../images/web-badges/birthday.png');
}
ae[badge='6'] {
	background-image: url('../images/web-badges/creator.png');
}

/* Reporting Projects */
.report-project-div {
	display: none;
}
div#report-project-popup {
	font-family: sans-serif;
	font-size: 1.5rem;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1000;
	position: fixed;
	background: #4446;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
div#report-project-popup button {
	cursor: pointer;
	margin: 16px auto 2px;
	display: block;
	background-color: #eee;
	border: none;
	padding: 4px 8px;
	color: black;
	border-radius: 4px;
	outline: none;
}
div#report-project-popup button:not([disabled]):hover {
	opacity: 0.7;
}
div#report-project-popup button:not([disabled]):active {
	opacity: 0.4;
}
div#report-project-popup button[disabled] {
	opacity: 0.5;
	cursor: default;
}

/* Retro Appearance */

.retro .topnav button.selected {
	border-bottom: 4px solid #60AF46;
	color: #60AF46;
}
.retro .search-bar button.selected {
	color: #60AF46;
}
.retro .uiBtn, .retro .xray-contents {
	background-color: #60AF46;
}
.retro .xSelected {
	box-shadow: #60AF46 0 0 4px 4px;
}

.retro, .retro body {
	background-color: var(--col-bg-toolbar);
}
.retro .flex .project-card {
	background-color: var(--col-bg-main);
	width: 200px;
	height: 200px;
	margin-top: 48px;
	overflow: visible;
}
.retro .project-card a.thumbnail {
	background-color: var(--col-bg-main);
	background-size: 100% 100%;
	border-radius: 12px;
	width: 150px;
	height: 100px;
	margin: 32px auto 4px;
	transition: opacity var(--transition-time), background-color var(--transition-time);
}
.retro .project-card a[disabled] {
	display: inherit;
}
.retro .remixbar:before {
	background: none;
	font-family: FontAwesome;
	content: "\f126";
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
	font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.retro .remixbar {
	position: absolute;
	top: -23px;
	font-size: 12px;
	background: none;
	left: 16px;
	color: var(--col-label-text);
	transition: color 0.5s;
	display: inline-flex;
}
.retro .remixbar:hover {
	opacity: 0.5;
}
.retro .remixbar:active {
	opacity: 0.3;
}
.retro .remixbar .fa {
	display: none;
}
.retro .sharelinkbtn {
	justify-content: space-evenly;
	width: 200px;
	height: 40px;
	flex-direction: row;
}
.retro .sharelinkbtn .fa {
    font-size: 72%;
    width: 32px;
	margin: 0;
}
.retro .sharelinkbtn .report-icon {
	display: none;
}
.retro .sharelinkbtn .fa-heart::before, .retro .sharelinkbtn .fa-leaf::before {
	opacity: 0.5;
}
.retro .sharelinkbtn .fa-link::before {
	display: block;
	content: "\f126";
	font-size: 120%;
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}
.retro .info {
	position: static;
	width: 0;
	height: 0;
}
.retro .info name {
	position: absolute;
	top: 0;
	text-align: center;
	width: 180px;
	margin: 0 10px;
	padding: 7px 4px;
	height: 32px;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	align-items: center;
	justify-content: center;
}
.retro .info name.truncate:after {
	display: none;
}
.retro .info .user-container {
	width: 184px;
	height: 24px;
	margin: 4px;
	padding-left: 30px;
    top: -35px;
	text-align: left;
	font-size: 14px;
	display: flex;
	align-items: center;
}
.retro .info .user-container[re="1"], .retro .xray .info .user-container[re="2"] {
	top: -48px;
}
.retro .info .user-container::before {
	content: " ";
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0; left: 0;
	background: inherit;
	background-size: cover;
	border-radius: 50%;
}
.retro .info .user {
	font-weight: 900;
	text-overflow: ellipsis;
	overflow: hidden;
}
.retro .info stats {
	left: 0;
	display: flex;
	justify-content: space-evenly;
}
.retro .info stats span {
    width: 32px;
    text-align: center;
    margin: 4px 1px;
}
.retro .info stats .fa {
	display: none;
}
.retro .report-project-div {
	right: 0;
}

/* Animations */

@keyframes zoom {
	0% {
		transform: scale(0) translate(-50%,-50%);
	}
	100% {
		transform: scale(1) translate(-50%,-50%);
	}
}
