:root {
  --col-bg-primary: #0b5b51;
  --time-trans: 0;
}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

/* Sidenav */
.sidenav {
  list-style: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--col-bg-primary, #0b5b51);
  font-size: 18px;
  font-family: sans-serif;
  user-select: none;
  -webkit-user-select: none;
  z-index: 100;
}
.sidenav li {
  color: white;
  transition: background-color var(--time-trans);
}
.sidenav li:not(.header):hover {
  cursor: pointer;
  background-color: #fff2;
}
.sidenav li.header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 24px;
}
.sidenav li.header > img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.sidenav li.spacer {
  margin-top: auto;
}
.sidenav li:last-child {
  margin-bottom: 8px;
}
.sidenav li a {
  padding: 6px 16px;
  display: block;
  color: white;
  text-decoration: none;
}

/* Main wrapper */
.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 150px;
}
.content-container {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: #ccc;
}
.content-container .fixed-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  font-size: 16px;
  z-index: 10;
}
.form-container {
  position: relative;
  padding: 16px;
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: #eee;
}
.output-container {
  width: 30%;
  background-color: #444;
  overflow: auto;
}
.output-container pre {
  margin: 0;
  padding: 16px;
  width: fit-content;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  padding: 16px;
  user-select: none;
  -webkit-user-select: none;
  align-content: flex-start;
}
[data-show]:not(.show) {
  display: none;
}

/* Forms */
form[target="hidden-frame"] {
  width: 90%;
  margin: 4px auto;
}
button, input:not([type="checkbox"]), textarea {
  appearance: none;
  -webkit-appearance: none;
}
button.unstyled {
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  outline-offset: 2px;
}
button, input:not([type="checkbox"]), textarea, select, table {
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, var(--bg-opacity, 1));
  border-radius: 2px;
  transition: background-color 0.2s;
}
:is(button, input[type="submit"]):hover {
  --bg-opacity: 0.8;
}
:is(button, input[type="submit"]):active {
  --bg-opacity: 0.5;
}
form :is(input:not([type="checkbox"]), textarea, select) {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 8px;
}
form textarea {
  resize: vertical;
  height: 60px;
}
form .label {
  font-size: 16px;
  font-family: sans-serif;
  display: inline-block;
  margin: 12px 0 8px;
}
form .danger {
  margin-top: 8px;
  background-color: rgba(139, 0, 0, var(--bg-opacity, 1));
  color: white;
}
form :invalid {
  color: red;
  caret-color: black;
}
form video {
  width: 100%;
}
form table {
  border-collapse: collapse;
  font-size: calc(40px / 3);
}
form table :is(td, th) {
  border: 1px solid lightgray;
  padding: 6px 8px;
}
form table td {
  word-break: break-word;
}
form table th:first-child {
  width: 100%;
}

/* Blocks */
.blockColor.move  { --col-block: #d73e1e; }
.blockColor.looks { --col-block: #63ae1e; }
.blockColor.draw  { --col-block: #a6006e; }
.blockColor.var   { --col-block: #e7b601; }
.blockColor.ctrl  { --col-block: #3e83be; }
.blockColor.old   { --col-block: #647f96; }

/* Cards */
.card {
  position: relative;
  font-family: sans-serif;
  background-color: var(--col-block, #888);
  color: white;
  padding: 12px;
  width: 200px;
  margin: 8px;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.06);
}
.card:active {
  transform: scale(0.96);
}
.card .id-badge {
  position: absolute;
  top: 4px;
  right: 4px;
}
.card h2 {
  margin: 0;
}

.block-card h2 {
  font-size: 18px;
}

.video-card {
  background-color: teal;
}
.video-card .id-badge {
  top: 3px;
  font-size: 12px;
}
.video-card h2 {
  font-size: 15px;
}

.entry-card {
  outline-offset: -4px;
}
.entry-card[data-severity="0"] {
  outline: 4px solid green;
}
.entry-card[data-severity="1"],
.entry-card[data-severity="2"] {
  outline: 4px solid darkgoldenrod;
  opacity: 0.5;
}
.entry-card[data-severity="3"] {
  outline: 4px solid darkred;
  opacity: 0.5;
}
.entry-card.entry-contained {
  background-color: #df2000;
}
.entry-card.entry-noalt h2 {
  color: gold;
}
.entry-card.entry-phrase h2 {
  text-decoration: underline;
}
.entry-card.entry-csv .id-badge {
  color: skyblue;
}
.entry-card h2 {
  font-size: 16px;
}

.channel-card h2 {
  font-size: 16px;
}

/* Renderjson */
.renderjson a {
  color: inherit;
}
.renderjson span {
	top: 0;
	font-size: 14px;
}
.renderjson .text {
	text-decoration: none;
	color: white;
}
.renderjson .disclosure { 
	color: lime;
	position: relative;
	top: 1px;
	margin: 0 2px;
	border: 1px solid lime;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 12px; height: 12px;
	font-family: Arial;
  user-select: none;
  -webkit-user-select: none;
}
.renderjson .disclosure span {
  font-size: 16px;
  top: 0.5px;
  position: relative;
}
.renderjson .syntax {
	color: grey;
	user-select: text;
	-webkit-user-select: text;
}
.renderjson .string {
	color: pink;
	user-select: text;
	-webkit-user-select: text;
}
.renderjson .number  {
	color: cyan;
	user-select: text;
	-webkit-user-select: text;
}
.renderjson .boolean {
	color: plum;
	user-select: text;
	-webkit-user-select: text;
}
.renderjson .key {
	color: lightblue;
	user-select: text;
	-webkit-user-select: text;
}
.renderjson .keyword {
	color: lightgoldenrodyellow;
	user-select: text;
	-webkit-user-select: text;
}
.renderjson .object.syntax {
	color: lightseagreen;
}
.renderjson .array.syntax {
	color: lightsalmon;
}
